{% extends 'base.html' %}
{% block content %}
<h1>{{post.title}}</h1>
{{post.post_date}}<br>
<small>By:
    {{post.author.username}}</small><br>
<p class="alert alert-primary" role="alert">{{post.body|safe}}</p>
<strong><input class='btn btn-light btn-lg' type="button" onclick="history.back();" value="Back"/></strong>
    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
            <a type="button" href="{% url 'delete_post' post.pk  %}" class="btn btn-outline-danger btn-lg">Delete</a>
            <a type="button" href="{% url 'update_post' post.pk  %}" class="btn btn-outline-success btn-lg">Edit</a>
        {% endif %}
    {% endif %}

    <br/><br/>
    <hr>
    <br/>
    {% if user.is_authenticated %}
        {% if liked %}
            <form action="{% url 'like_post' post.pk %}" method="POST">
                {% csrf_token %}
                <button type="submit" name="post_id" value="{{ post.id }}" class="btn       btn-outline-danger">Unlike</button> - {{ total_likes }} Likes
            </form>
            
        {% else %}
            <form action="{% url 'like_post' post.pk %}" method="POST">
                {% csrf_token %}
                <button type="submit" name="post_id" value="{{ post.id }}" class="btn       btn-outline-warning">Like</button> - {{ total_likes }} Likes
            </form>
        {% endif %}
    {% else %}
        <small><a href="{% url 'login' %}">Зарегистрируйся</a> для доступа к кнопке</small>
    {% endif %} 
<br><br>
{% if latest_comment_list %}
    {% for c in latest_comment_list %}
     <strong>{{c.author_name}}</strong><br>
     {{c.comment_text}}
    {% endfor %}
{% else %}
    Комментарии не найдены
{% endif %}
<form action="{% url 'article_detail' article.id %}" method="POST">
    
        {% csrf_token %}
        <input type="text" name="name" required placeholder="ваше имя"><br>
        <textarea name='text' required="" cols="20" rows="5"></textarea><br>
        <button type="submit">Оставить комментарий</button>
        
</form>

{% endblock %}