{% extends 'base.html' %}
{% block title %} {{post.title_tag}} {% endblock %}
{% block content %}
<h1>{{post.title}}</h1>
<small>By:
    {{post.author.username}}</small><br>
<p class="alert alert-primary" role="alert">{{post.body|safe}}</p>
<strong><a class="btn btn-secondary btn-lg" href="{% url 'home' %}">Back</a></strong>
    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
            <a type="button" href="{% url 'delete_post' post.pk  %}" class="btn btn-outline-danger btn-lg">Delete</a>
            <a type="button" href="{% url 'update_post' post.pk  %}" class="btn btn-outline-success btn-lg">Edit</a>
        {% endif %}
    {% endif %}

    <br/><br/>
    <hr>
    <br/>
    {% if user.is_authenticated %}
        {% if liked %}
            <form action="{% url 'like_post' post.pk %}" method="POST">
                {% csrf_token %}
                <button type="submit" name="post_id" value="{{ post.id }}" class="btn       btn-outline-danger">Unlike</button> - {{ total_likes }} Likes
            </form>
            
        {% else %}
            <form action="{% url 'like_post' post.pk %}" method="POST">
                {% csrf_token %}
                <button type="submit" name="post_id" value="{{ post.id }}" class="btn       btn-outline-warning">Like</button> - {{ total_likes }} Likes
            </form>
        {% endif %}
    {% else %}
        <small><a href="{% url 'login' %}">Зарегистрируйся</a> для доступа к кнопке</small>
    {% endif %}
{% endblock %}